.div-table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: gray;
    white-space: normal;
    font-variant: normal;
}

.div-tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.div-td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

.div-th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    unicode-bidi: isolate;
}