/*btn*/
.standard-btn {
    border: 1px solid #cf4844;
    outline: 0;
    color: black;

    border-radius: 5px;

    height: 22px;

    cursor: pointer;
}

.standard-btn[data-theme="dark"] {
    background-color: black;
    color: white;

    box-sizing: border-box;
    border-color: rgb(145, 145, 145);
}   