/*btn*/
button.standard {
    background-color: #cf4844;
    border: 1px solid gray;
    outline: 0;
    color: white;

    border-radius: 5px;
    cursor: pointer;

    padding: 4px 8px 5px 8px;
}
button.standard[data-theme="dark"] {
    background-color: black;

    box-sizing: border-box;
    border-color: rgb(145, 145, 145);
}   